<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/not_finished.css"/>
  <title>Result</title>
</head>
<body>
<div id="wrap">
  <div id="notice">
    <h3>尚未到开奖时间，请耐心等待！</h3>
  </div>
  <div id="time">
    <p> 开始时间</p>
    <h2 th:text="${notFinishedModel.startTime}"></h2>
    <p> 结束时间</p>
    <h2 th:text="${notFinishedModel.endTime}"></h2>
    <div id="buttom">
    <button onclick="window.location.href='../user'">返回</button>
    </div>
  </div>
</div>
</body>
</html>
