<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/admin.css"/>
    <title>管理员界面</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h3 id="welcome">欢迎使用管理员界面！</h3>
<button id="output" onclick="">导出中签名单</button>
<div id="table">
    <form th:action="@{/admin}" method="post">
        <table frame="box">
            <th id="title">
            <td align="center" colspan="8">预约表单</td>
            </th>
            <tr id="start">
                <td colspan="2"></td>
                <td align="center">开始时间:</td>
                <td><input id="starDate" name="starDate" type="date"/><input id="starTime" name="starTime" type="time"/></td>
                <td colspan="2"></td>
            </tr>
            <tr id="end">
                <td colspan="2"></td>
                <td align="center">结束时间:</td>
                <td><input id="endDate" name="endDate" type="date"/><input id="endTime" name="endTime" type="time"/>
                </td>
                <td colspan="2"></td>
            </tr>
            <tr id="everyNum">
                <td colspan="2" rolspan="2"></td>
                <td rolspan="2" align="center">单个用户最高<br/>可预约口罩数量:</td>
                <td rolspan="2"><input id="max" name="max_num" type="number" min="1"/></td>
                <td colspan="2" rolspan="2"></td>
            </tr>
            <tr id="totalNum">
                <td colspan="2" rolspan="2"></td>
                <td rolspan="2" align="center">口罩总数:</td>
                <td rolspan="2"><input id="number" name="total_num" type="number" min="1"/></td>
                <td colspan="2" rolspan="2"></td>
            <tr id="submit">
                <td colspan="8" align="center"><input type="submit" value="发布活动" id="commit"/></td>
            </tr>

        </table>
    </form>
</div>


</body>
