<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrap">
        
        <!-- 导航区 -->

        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#appointment" role="tab" data-toggle="tab">预约</a></li>
            <li role="presentation"><a href="#search" role="tab" data-toggle="tab">查询</a></li>
<!--            <li role="presentation"><a href="#messages" role="tab" data-toggle="tab">插</a></li>-->
<!--            <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>-->
        </ul>
        <!-- 面板区 -->
        <div class="tab-content">
<!--            预约区-->
            <div role="tabpanel" class="tab-pane active" id="appointment">
                <h2>请填写个人信息进行预约</h2>
                <form th:action="@{/user}" method="post">
                   <div id="name">
                       <label>真实姓名</label>
                       <input id="trueName" type="text" placeholder="请输入真实姓名">
                   </div>
                    <div id="id_card">
                        <label>身份证号</label>
                        <input id="idCard" type="text" placeholder="请输入身份证号">
                    </div>
                    <div id="phone_number">
                        <label>电话号码</label>
                        <input id="phoneNumber" type="text" placeholder="请输入电话号码">
                    </div>
                    <div id="mask_num">
                        <label>口罩数</label>
                        <select id="maskNumber" class="combobox">
                            <option value="three" selected>3</option>
                            <option value="two">2</option>
                            <option value="one">1 </option>
                        </select>
                        <br>
                        <input type="submit" value="预约">
                    </div>
                </form>
            </div>
<!--            查询面板-->
            <div role="tabpanel" class="tab-pane" id="search">
                <h2>请输入预约编号进行查询</h2>
                <form th:action="@{/order}" method="post">
                    <div id="search_div">
                        <label for="">预约编号</label>
                        <input id="orderNumber" type="text" placeholder="请输入预约编号">
                    </div>
                    <input type="submit" value="查询">
                </form>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>
</html>